@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Custom scrollbar styling */
.custom-scrollbar::-webkit-scrollbar {
  width: 10px;
  background-color: #3f3f46; /* zinc-800 */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #595965; /* Warna hijau */
  border-radius: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #647286;
}

.custom-scrollbar::-webkit-scrollbar-button {
  display: none; /* Hilangkan ikon panah */
}

